In [1]:
import pandas as pd
import requests
import io
import re
import os
import asyncio
import random
from yahoo_fin.stock_info import get_data
from functools import partial
from bs4 import BeautifulSoup
from IPython.core.debugger import set_trace
from urllib.request import urlretrieve

In [132]:
doc = requests.get('https://www.sslproxies.org', headers={'User-Agent':ua.random})
soup = BeautifulSoup(doc.text, 'html.parser')
proxies = pd.read_html(doc.text, attrs={'id':'proxylisttable'}, converters={'Port': str})[0].dropna()[['IP Address','Port']]
proxies = list((proxies['IP Address'] + ':' + proxies['Port']).values)

In [64]:
def etf_alloc(*etfs):
    
    def _name(df):
        name = df.index.name
        if name.lower() != 'region':
            return name
        elif df.index.str.contains('america|asia|europe|africa|middle', case=False).any():
            return name
        else:
            return 'Market Tier'
    
    def _df(df, etf):
        return pd.DataFrame({etf.upper():df.dropna().Percentage.str.rstrip('%').astype('float')})

    
    async def get_tables(etf):
        url = 'https://etfdb.com/etf/' + etf
        #prx = {'https': proxies.pop(0)}
        #referer = 'https://google.com'        
        #headers = {'User-Agent': ua.random}
        #requests_get = partial(requests.get, headers=headers)
        #response = await loop.run_in_executor(None, requests_get, url)
        
        await loop.run_in_executor(None, urlretrieve, url, 'etfdb/' + etf + '.html')
        
        tables = pd.read_html('etfdb/' + etf + '.html', attrs={'class':'chart base-table'}, index_col=0, flavor=['lxml', 'bs4'])
        return {_name(df):_df(df, etf) for df in tables}


    async def main():
        fts = [asyncio.ensure_future(get_tables(etf)) for etf in etfs]
        return await asyncio.gather(*fts)

    
    asyncio.set_event_loop(asyncio.new_event_loop())
    loop = asyncio.get_event_loop()
    
    try:
        # 다음 코드를 주피터에서 돌리려면, tornado를 downgrade 해야함
        # pip install tornado==4.5.3
        res = loop.run_until_complete(main())       

        etfs = {
            k:pd.concat([dic[k] for dic in res], axis=1, sort='False').fillna(0) for k in res[0]
        }

        out = pd.concat(etfs, axis=0)
    
    except Exception as ex:
        out = ex
    
    finally:
        loop.close()
        
    return out

In [2]:
%%time
etfs = [
    'ACWI', 
    'SPY',
    'QQQ',
    'XLB',
    'XLY',
    'XLP',
    'XLE',
    'XLF',
    'XLV',
    'XLI',
    'IYR',
    'XLK',
    'IYZ', 
    'XLU',
    'EWC',
    'ILF',
    'EWZ',
    'IEV',
    'EWU',
    'EWP',
    'EWG',
    'EWI',
    'RSX',
    'EWQ',
    'EWY', 
    'EWJ',
    'MCHI',
    'EWS',
    'EWA',
    'EWH',
    'EWM',
    'EWT',
    'VNM',
    'EIDO',
    'INDA',
    'EPHE',
    'EFA',
    'EEM',
    'BKF'
]

#etfs = etf_alloc(*etfs)
#etfs = etf_alloc('ACWI','MTUM','VLUE','QUAL','XLB')#,'XLY','XLP','XLE','XLF','XLV','XLI','IYR'); etfs

Wall time: 0 ns

In [155]:
etfs

                                        ACWI    SPY    QQQ     XLB    XLY  \
Asset       Common equity              98.06  99.92  99.97  100.00  99.98
            ETF Cash Component          1.27   0.08   0.03    0.00   0.02
            Preferred stock             0.67   0.00   0.00    0.00   0.00
Country     Argentina                   0.03   0.00   0.21    0.00   0.00
            Australia                   2.13   0.00   0.00    0.00   0.00
            Austria                     0.08   0.00   0.00    0.00   0.00
            Belgium                     0.31   0.00   0.00    0.00   0.00
            Brazil                      0.81   0.00   0.00    0.00   0.00
            Canada                      3.08   0.00   0.00    0.00   0.00
            Chile                       0.11   0.00   0.00    0.00   0.00
            China                       3.39   0.00   1.37    0.00   0.00
            Colombia                    0.05   0.00   0.00    0.00   0.00
            Czech Republic              0.02   0.00   0.00    0.00   0.00
            Denmark                     0.55   0.00   0.00    0.00   0.00
            Egypt                       0.01   0.00   0.00    0.00   0.00
            Finland                     0.43   0.00   0.00    0.00   0.00
            France                      3.03   0.00   0.00    0.00   0.00
            Germany                     2.74   0.00   0.78    0.00   0.00
            Greece                      0.02   0.00   0.00    0.00   0.00
            Hong Kong                   1.05   0.00   0.00    0.00   0.00
            Hungary                     0.05   0.00   0.00    0.00   0.00
            India                       0.92   0.00   0.00    0.00   0.00
            Indonesia                   0.20   0.00   0.00    0.00   0.00
            Ireland                     0.71   0.93   0.00    0.00   0.94
            Israel                      0.16   0.00   0.23    0.00   0.00
            Italy                       0.67   0.00   0.00    0.00   0.00
            Japan                       7.12   0.00   0.00    0.00   0.00
            Liechtenstein               0.01   0.00   0.00    0.00   0.00
            Luxembourg                  0.08   0.00   0.00    0.00   0.00
            Malaysia                    0.25   0.00   0.00    0.00   0.00
...                                      ...    ...    ...     ...    ...
Market Cap  Large cap                  89.86  91.90  97.88   76.82  85.41
            Micro cap                   0.01   0.00   0.00    0.00   0.00
            Mid cap                     8.53   7.92   2.09   23.18  14.18
            Small cap                   0.34   0.10   0.00    0.00   0.39
            Unknown                     0.00   0.00   0.00    0.00   0.00
Market Tier Developed Markets (ex-US)  36.30   1.89   2.25   14.49   1.34
            Emerging Markets            9.21   0.00   1.58    0.00   0.00
            Frontier Markets            0.03   0.00   0.00    0.00   0.00
            Not-designated              0.01   0.00   0.00    0.00   0.00
            United States              54.44  98.11  96.17   85.51  98.66
Region      Africa                      0.77   0.00   0.00    0.00   0.00
            Asia                        7.90   0.00   1.37    0.00   0.00
            Asia-Pacific               10.88   0.00   0.00    0.00   0.00
            Europe                     21.26   1.89   2.02   14.49   1.34
            Latin America               1.31   0.00   0.21    0.00   0.00
            Middle East                 0.36   0.00   0.23    0.00   0.00
            North America              57.53  98.11  96.17   85.51  98.66
Sector      Basic Materials             4.32   2.30   0.00   85.51   0.00
            Communications              8.89  10.19  22.68    0.00   0.00
            Consumer, Cyclical         10.02   9.72  15.53    0.00  95.60
            Consumer, Non-Cyclical      7.98   7.08   6.27    0.00   0.00
            ETF Cash Component          1.27   0.08   0.03    0.00   0.02
            Energy                      6.22   5.47   0.00    0.00   0.00
            Financials                 17.09  13.67   0.28    0.00   0.00
            Healthcare                 11.62  14.72   9.17    0.00   0.00
            Industrials                 9.93   9.40   2.48    0.00   0.00
            Other                       1.92   1.72   2.63   14.49   4.39
            Real Estate                 3.03   2.97   0.00    0.00   0.00
            Technology                 14.50  19.61  40.59    0.00   0.00
            Utilities                   3.19   3.08   0.35    0.00   0.00

                                          XLP    XLE    XLF    XLV    XLI  \
Asset       Common equity               99.80  99.99  99.87  99.90  99.98
            ETF Cash Component           0.20   0.01   0.13   0.10   0.02
            Preferred stock              0.00   0.00   0.00   0.00   0.00
Country     Argentina                    0.00   0.00   0.00   0.00   0.00
            Australia                    0.00   0.00   0.00   0.00   0.00
            Austria                      0.00   0.00   0.00   0.00   0.00
            Belgium                      0.00   0.00   0.00   0.00   0.00
            Brazil                       0.00   0.00   0.00   0.00   0.00
            Canada                       0.00   0.00   0.00   0.00   0.00
            Chile                        0.00   0.00   0.00   0.00   0.00
            China                        0.00   0.00   0.00   0.00   0.00
            Colombia                     0.00   0.00   0.00   0.00   0.00
            Czech Republic               0.00   0.00   0.00   0.00   0.00
            Denmark                      0.00   0.00   0.00   0.00   0.00
            Egypt                        0.00   0.00   0.00   0.00   0.00
            Finland                      0.00   0.00   0.00   0.00   0.00
            France                       0.00   0.00   0.00   0.00   0.00
            Germany                      0.00   0.00   0.00   0.00   0.00
            Greece                       0.00   0.00   0.00   0.00   0.00
            Hong Kong                    0.00   0.00   0.00   0.00   0.00
            Hungary                      0.00   0.00   0.00   0.00   0.00
            India                        0.00   0.00   0.00   0.00   0.00
            Indonesia                    0.00   0.00   0.00   0.00   0.00
            Ireland                      0.00   0.00   0.00   1.51   1.44
            Israel                       0.00   0.00   0.00   0.00   0.00
            Italy                        0.00   0.00   0.00   0.00   0.00
            Japan                        0.00   0.00   0.00   0.00   0.00
            Liechtenstein                0.00   0.00   0.00   0.00   0.00
            Luxembourg                   0.00   0.00   0.00   0.00   0.00
            Malaysia                     0.00   0.00   0.00   0.00   0.00
...                                       ...    ...    ...    ...    ...
Market Cap  Large cap                   94.28  89.31  92.74  94.57  88.33
            Micro cap                    0.00   0.00   0.00   0.00   0.00
            Mid cap                      5.53  10.36   6.98   5.33  11.65
            Small cap                    0.00   0.32   0.14   0.00   0.00
            Unknown                      0.00   0.00   0.00   0.00   0.00
Market Tier Developed Markets (ex-US)    0.00   0.86   2.16   1.95   1.44
            Emerging Markets             0.00   0.00   0.00   0.00   0.00
            Frontier Markets             0.00   0.00   0.00   0.00   0.00
            Not-designated               0.00   0.00   0.00   0.00   0.00
            United States              100.00  99.14  97.84  98.05  98.56
Region      Africa                       0.00   0.00   0.00   0.00   0.00
            Asia                         0.00   0.00   0.00   0.00   0.00
            Asia-Pacific                 0.00   0.00   0.00   0.00   0.00
            Europe                       0.00   0.86   2.16   1.95   1.44
            Latin America                0.00   0.00   0.00   0.00   0.00
            Middle East                  0.00   0.00   0.00   0.00   0.00
            North America              100.00  99.14  97.84  98.05  98.56
Sector      Basic Materials              0.00   0.00   0.00   0.00   0.00
            Communications               0.00   0.00   0.00   0.00   0.00
            Consumer, Cyclical           0.00   0.00   0.00   0.00   0.00
            Consumer, Non-Cyclical      99.80   0.00   0.00   0.00   0.00
            ETF Cash Component           0.20   0.01   0.13   0.10   0.02
            Energy                       0.00  99.99   0.00   0.00   0.00
            Financials                   0.00   0.00  99.68   0.00   0.00
            Healthcare                   0.00   0.00   0.00  97.68   0.00
            Industrials                  0.00   0.00   0.00   0.00  99.98
            Other                        0.00   0.00   0.19   2.22   0.00
            Real Estate                  0.00   0.00   0.00   0.00   0.00
            Technology                   0.00   0.00   0.00   0.00   0.00
            Utilities                    0.00   0.00   0.00   0.00   0.00

                                          IYR    XLK    IYZ     XLU    EWC
Asset       Common equity               99.80  99.95  99.45  100.00  99.49
            ETF Cash Component           0.20   0.05   0.55    0.00   0.51
            Preferred stock              0.00   0.00   0.00    0.00   0.00
Country     Argentina                    0.00   0.00   0.00    0.00   0.00
            Australia                    0.00   0.00   0.00    0.00   0.00
            Austria                      0.00   0.00   0.00    0.00   0.00
            Belgium                      0.00   0.00   0.00    0.00   0.00
            Brazil                       0.00   0.00   0.00    0.00   0.00
            Canada                       0.00   0.00   0.00    0.00  96.67
            Chile                        0.00   0.00   0.00    0.00   0.00
            China                        0.00   0.00   0.00    0.00   0.00
            Colombia                     0.00   0.00   0.00    0.00   0.00
            Czech Republic               0.00   0.00   0.00    0.00   0.00
            Denmark                      0.00   0.00   0.00    0.00   0.00
            Egypt                        0.00   0.00   0.00    0.00   0.00
            Finland                      0.00   0.00   0.00    0.00   0.00
            France                       0.00   0.00   0.00    0.00   0.00
            Germany                      0.00   0.00   4.22    0.00   0.00
            Greece                       0.00   0.00   0.00    0.00   0.00
            Hong Kong                    0.00   0.00   0.00    0.00   0.00
            Hungary                      0.00   0.00   0.00    0.00   0.00
            India                        0.00   0.00   0.00    0.00   0.00
            Indonesia                    0.00   0.00   0.00    0.00   0.00
            Ireland                      0.00   2.40   0.00    0.00   0.00
            Israel                       0.00   0.00   0.00    0.00   0.00
            Italy                        0.00   0.00   0.00    0.00   0.00
            Japan                        0.00   0.00   1.55    0.00   0.00
            Liechtenstein                0.00   0.00   0.00    0.00   0.00
            Luxembourg                   0.00   0.00   0.00    0.00   0.00
            Malaysia                     0.00   0.00   0.00    0.00   0.00
...                                       ...    ...    ...     ...    ...
Market Cap  Large cap                   49.93  94.79  60.23   90.59  92.85
            Micro cap                    0.00   0.00   8.43    0.00   0.00
            Mid cap                     36.11   5.16  15.68    9.41   6.64
            Small cap                   13.76   0.00  15.11    0.00   0.00
            Unknown                      0.00   0.00   0.00    0.00   0.00
Market Tier Developed Markets (ex-US)    0.00   3.01   8.27    0.00  97.22
            Emerging Markets             0.00   0.00   0.00    0.00   0.00
            Frontier Markets             0.00   0.00   0.00    0.00   0.00
            Not-designated               0.00   0.00   0.00    0.00   0.00
            United States              100.00  96.99  91.73  100.00   2.78
Region      Africa                       0.00   0.00   0.00    0.00   0.00
            Asia                         0.00   0.00   0.00    0.00   0.00
            Asia-Pacific                 0.00   0.00   1.55    0.00   0.00
            Europe                       0.00   3.01   6.72    0.00   0.55
            Latin America                0.00   0.00   0.00    0.00   0.00
            Middle East                  0.00   0.00   0.00    0.00   0.00
            North America              100.00  96.99  91.73  100.00  99.45
Sector      Basic Materials              0.00   0.00   0.00    0.00   7.89
            Communications               0.00   0.00  50.53    0.00   3.18
            Consumer, Cyclical           0.55   0.00   2.50    0.00   4.31
            Consumer, Non-Cyclical       0.00   0.00   0.00    0.00   4.37
            ETF Cash Component           0.20   0.05   0.55    0.00   0.51
            Energy                       0.00   0.00   0.00    0.00  19.72
            Financials                   0.00   0.00   0.00    0.00  39.08
            Healthcare                   0.00   0.00   0.00    0.00   0.62
            Industrials                  1.33   0.00   0.00    0.00   8.56
            Other                        1.48   2.46   0.24    2.12   4.37
            Real Estate                 96.44   0.00   0.00    0.00   0.56
            Technology                   0.00  97.49  46.17    0.00   4.50
            Utilities                    0.00   0.00   0.00   97.88   2.33

[85 rows x 15 columns]

In [26]:
%%time
import fix_yahoo_finance as yf
data = yf.download(etfs, start="2010-01-01", end="2017-04-30")

[*********************100%***********************]  39 of 39 downloaded
Wall time: 22.6 s

In [27]:
data

                 Open                                                         \
                 ACWI        BKF        EEM        EFA       EIDO       EPHE
Date
2009-12-31  42.490002  45.980000  41.630001  55.919998        NaN        NaN
2010-01-04  43.110001  47.160000  42.180000  56.419998        NaN        NaN
2010-01-05  43.340000  47.770000  42.910000  56.869999        NaN        NaN
2010-01-06  43.320000  47.639999  43.080002  56.680000        NaN        NaN
2010-01-07  43.419998  47.610001  42.849998  56.639999        NaN        NaN
2010-01-08  43.540001  47.830002  42.880001  56.900002        NaN        NaN
2010-01-11  43.779999  48.139999  43.450001  57.830002        NaN        NaN
2010-01-12  43.549999  47.290001  42.610001  57.110001        NaN        NaN
2010-01-13  43.360001  47.279999  42.590000  57.279999        NaN        NaN
2010-01-14  43.689999  47.000000  42.520000  57.500000        NaN        NaN
2010-01-15  43.700001  46.799999  42.320000  57.509998        NaN        NaN
2010-01-19  43.200001  46.660000  42.080002  56.880001        NaN        NaN
2010-01-20  43.270000  46.340000  42.110001  56.369999        NaN        NaN
2010-01-21  42.730000  45.459999  41.549999  56.040001        NaN        NaN
2010-01-22  41.980000  43.619999  40.220001  54.700001        NaN        NaN
2010-01-25  41.570000  43.759998  40.130001  54.860001        NaN        NaN
2010-01-26  41.310001  42.799999  39.130001  54.049999        NaN        NaN
2010-01-27  40.980000  42.099998  38.790001  53.880001        NaN        NaN
2010-01-28  41.549999  42.209999  39.320000  54.189999        NaN        NaN
2010-01-29  40.689999  42.270000  39.150002  53.320000        NaN        NaN
2010-02-01  40.410000  41.669998  38.639999  53.200001        NaN        NaN
2010-02-02  41.200001  42.540001  39.389999  53.820000        NaN        NaN
2010-02-03  41.279999  43.470001  39.639999  53.980000        NaN        NaN
2010-02-04  40.439999  42.450001  38.750000  52.740002        NaN        NaN
2010-02-05  39.669998  40.330002  37.290001  51.290001        NaN        NaN
2010-02-08  39.480000  40.369999  37.180000  50.970001        NaN        NaN
2010-02-09  39.919998  41.029999  37.730000  51.590000        NaN        NaN
2010-02-10  40.070000  41.470001  38.040001  51.770000        NaN        NaN
2010-02-11  39.779999  41.570000  38.189999  51.540001        NaN        NaN
2010-02-12  39.950001  41.349998  38.139999  51.299999        NaN        NaN
...               ...        ...        ...        ...        ...        ...
2017-03-17  63.619999  36.619999  39.599998  62.180000  25.570000  34.650002
2017-03-20  63.580002  36.580002  39.740002  62.250000  25.620001  34.410000
2017-03-21  63.790001  36.959999  40.150002  62.580002  25.680000  34.650002
2017-03-22  62.830002  36.060001  39.480000  61.619999  25.620001  33.980000
2017-03-23  62.939999  36.180000  39.560001  61.730000  25.850000  34.169998
2017-03-24  63.090000  36.380001  39.680000  62.110001  25.889999  34.180000
2017-03-27  62.689999  36.060001  39.549999  62.090000  25.809999  34.009998
2017-03-28  63.070000  36.360001  39.669998  62.389999  25.660000  34.459999
2017-03-29  63.150002  36.380001  39.720001  62.290001  25.900000  34.400002
2017-03-30  63.419998  36.490002  39.720001  62.430000  25.959999  34.430000
2017-03-31  63.240002  36.240002  39.419998  62.110001  25.730000  34.180000
2017-04-03  63.310001  36.340000  39.509998  62.189999  26.040001  34.310001
2017-04-04  63.090000  36.580002  39.529999  61.930000  26.250000  34.889999
2017-04-05  63.430000  36.840000  39.799999  62.130001  26.420000  35.380001
2017-04-06  63.139999  36.540001  39.470001  61.880001  26.299999  35.389999
2017-04-07  63.070000  36.430000  39.360001  61.750000  26.219999  35.680000
2017-04-10  63.099998  36.290001  39.220001  61.730000  26.160000  35.810001
2017-04-11  63.130001  36.299999  39.200001  62.000000  26.129999  36.090000
2017-04-12  63.110001  36.230000  39.290001  61.950001  26.160000  36.160000
2017-04-13  62.880001  36.209999  39.400002  61.700001  26.090000  36.160000
2017-04-17  62.830002  36.150002  39.320000  61.849998  25.790001  36.099998
2017-04-18  62.750000  35.959999  39.099998  61.549999  25.920000  35.939999
2017-04-19  62.950001  36.020000  39.150002  61.759998  25.940001  35.599998
2017-04-20  62.959999  36.169998  39.230000  61.959999  25.820000  35.619999
2017-04-21  63.070000  36.119999  39.299999  61.930000  26.190001  35.770000
2017-04-24  63.939999  36.549999  39.869999  63.410000  26.500000  35.810001
2017-04-25  64.230003  36.820000  40.139999  63.849998  26.549999  36.500000
2017-04-26  64.339996  36.919998  40.130001  63.810001  26.650000  36.529999
2017-04-27  64.389999  36.869999  40.130001  63.919998  26.600000  36.060001
2017-04-28  64.339996  36.709999  40.040001  63.889999  26.540001  35.880001

                                                          ...     Volume  \
                  EWA        EWC        EWG        EWH    ...        VNM
Date                                                      ...
2009-12-31  23.049999  26.360001  22.670000  15.840000    ...      77500
2010-01-04  23.500000  26.940001  22.900000  15.920000    ...     157400
2010-01-05  23.799999  27.080000  23.010000  16.180000    ...     185800
2010-01-06  23.799999  27.150000  22.850000  16.250000    ...     116900
2010-01-07  23.770000  27.280001  22.799999  16.230000    ...      93100
2010-01-08  23.840000  27.110001  22.770000  16.219999    ...     107000
2010-01-11  24.360001  27.490000  23.170000  16.330000    ...     146400
2010-01-12  23.650000  27.000000  22.760000  16.190001    ...     106100
2010-01-13  23.680000  26.889999  22.930000  15.980000    ...     106100
2010-01-14  24.040001  27.120001  22.870001  15.880000    ...      62900
2010-01-15  23.889999  27.049999  22.600000  15.850000    ...     149300
2010-01-19  23.629999  26.799999  22.309999  15.820000    ...     194200
2010-01-20  23.420000  26.170000  22.200001  15.630000    ...      80500
2010-01-21  23.250000  26.139999  21.910000  15.280000    ...     205000
2010-01-22  22.500000  25.450001  21.190001  15.060000    ...     106700
2010-01-25  22.450001  25.250000  21.200001  15.160000    ...      69600
2010-01-26  22.000000  24.840000  21.000000  14.880000    ...     130300
2010-01-27  21.770000  25.020000  20.969999  14.730000    ...      78000
2010-01-28  22.240000  25.139999  20.940001  14.850000    ...      85000
2010-01-29  21.639999  24.820000  20.580000  14.890000    ...      86700
2010-02-01  21.280001  24.500000  20.590000  14.820000    ...      56800
2010-02-02  21.570000  25.120001  20.910000  15.040000    ...     227800
2010-02-03  21.650000  25.150000  20.950001  15.160000    ...      24600
2010-02-04  21.170000  24.850000  20.420000  14.950000    ...      71800
2010-02-05  20.469999  24.299999  19.799999  14.530000    ...     135400
2010-02-08  20.690001  24.629999  19.650000  14.660000    ...      31700
2010-02-09  20.980000  24.570000  19.930000  14.840000    ...     210300
2010-02-10  20.930000  24.760000  20.080000  14.960000    ...      71500
2010-02-11  21.240000  24.990000  19.750000  14.990000    ...      20200
2010-02-12  21.070000  25.280001  19.660000  14.990000    ...      42000
...               ...        ...        ...        ...    ...        ...
2017-03-17  22.510000  26.969999  28.459999  22.209999    ...     147100
2017-03-20  22.580000  26.700001  28.440001  22.250000    ...     170600
2017-03-21  22.590000  26.760000  28.650000  22.389999    ...     296800
2017-03-22  21.990000  26.219999  28.150000  22.180000    ...     174300
2017-03-23  21.990000  26.430000  28.150000  22.299999    ...     141800
2017-03-24  22.110001  26.559999  28.480000  22.400000    ...     118600
2017-03-27  22.139999  26.480000  28.480000  22.160000    ...     295300
2017-03-28  22.350000  26.629999  28.700001  22.290001    ...     236800
2017-03-29  22.600000  26.799999  28.750000  22.350000    ...     106600
2017-03-30  22.799999  27.080000  28.700001  22.370001    ...     146800
2017-03-31  22.620001  26.940001  28.660000  22.250000    ...     178100
2017-04-03  22.549999  26.840000  28.790001  22.350000    ...      56400
2017-04-04  22.379999  26.629999  28.600000  22.360001    ...     121200
2017-04-05  22.549999  26.959999  28.610001  22.610001    ...     101400
2017-04-06  22.389999  26.870001  28.520000  22.600000    ...      46100
2017-04-07  22.280001  27.000000  28.370001  22.559999    ...     157300
2017-04-10  22.379999  26.860001  28.320000  22.559999    ...      93700
2017-04-11  22.530001  27.120001  28.389999  22.500000    ...      46900
2017-04-12  22.500000  27.059999  28.309999  22.629999    ...      98400
2017-04-13  22.469999  27.080000  28.230000  22.629999    ...      84300
2017-04-17  22.549999  26.820000  28.240000  22.500000    ...     238000
2017-04-18  22.250000  26.870001  28.170000  22.240000    ...     130200
2017-04-19  22.180000  26.740000  28.290001  22.200001    ...     103100
2017-04-20  22.230000  26.459999  28.370001  22.309999    ...     400000
2017-04-21  22.299999  26.530001  28.320000  22.299999    ...     180600
2017-04-24  22.570000  26.990000  29.540001  22.350000    ...     187400
2017-04-25  22.530001  26.709999  29.740000  22.549999    ...     254200
2017-04-26  22.430000  26.719999  29.709999  22.719999    ...     224500
2017-04-27  22.430000  26.490000  29.730000  22.889999    ...     208500
2017-04-28  22.430000  26.180000  29.750000  22.959999    ...     157100

                                                                         \
                 XLB       XLE        XLF       XLI       XLK       XLP
Date
2009-12-31   2582300   5948900   40923400   3117000   5763100   5099400
2010-01-04   7567500  16928400   92942300   7471500   8449400   8465900
2010-01-05   8839200  17368100   96770000   8256700  19988200  11805400
2010-01-06   8092000  24351900   75492700   5356700  10024100   9267000
2010-01-07   5757300  17449500  117869100  12118200   7292400   6951500
2010-01-08   4642400  13344300  111866100   8065000  11886200   5437400
2010-01-11   9108500  19459900   72747200  11895500  15238900   6140200
2010-01-12  13162000  21510600  137613700  12020700   9742800   6822400
2010-01-13  11943100  22137500  100839400  10978200  10053700   7926700
2010-01-14   9615500  15545400   70844500   4762700   7506600   5258900
2010-01-15   7605300  19055200  118059300   7251000  13533300  11968800
2010-01-19   6801700  14613100  100437700  11941300   7482800  10974200
2010-01-20  11503800  15641700   99359400   9810400  14699000   8670500
2010-01-21  19816200  25206600  310007500  17492900  12803400   9044700
2010-01-22  20046900  23028600  260932200  16216200  33701200   9082400
2010-01-25  10305100  15901200  179396200  12695500  33340100   6078200
2010-01-26  16783900  21515300  151799700  12708200  16125300   8116700
2010-01-27  19708800  26616700  254674600  22437800  17685000  12558400
2010-01-28  16370400  34430700  275452000  21371000  23139300  14181700
2010-01-29  16120700  32802700  222839900  17136200  26897400   8930500
2010-02-01  17273000  21813300  155187700  16144100  19207500   9016100
2010-02-02  16039700  22250800  135155300  20403200  13695600   7433200
2010-02-03  18106800  19749300  131388600  13675400  14783200   6566900
2010-02-04  22809000  37173200  266891000  20628100  16489100  10827300
2010-02-05  32249000  46378400  315216000  30821300  23253700  13527400
2010-02-08  20472300  24115100  132199100  17888900  22943800   5150900
2010-02-09  28744000  33558100  190172300  22723500  15887400   7456500
2010-02-10  21552600  24182300  155220700  12709800  10423400   6364600
2010-02-11  19472100  22944500   92212200  11507900  15174800   5879800
2010-02-12  19623300  19833900  125390700  16638900  15143000   8895400
...              ...       ...        ...       ...       ...       ...
2017-03-17   5130600  14243900   83056800  10880100   6895400  16469400
2017-03-20   2755200  12218700   78676400   5752600   4541800   6559200
2017-03-21   7339700  16717200  192257000  12661000  14905500  13135500
2017-03-22   5651400  12419600  133199500  12266300  11383300   7094700
2017-03-23   4766400  11800400   85238900  10682500  11359400   7474700
2017-03-24   6020300  10442500   97583400   9924600  13140900   8343300
2017-03-27   4288900  11491300  103963000  11711900   6845000   5739500
2017-03-28   3933600  27922600   82301100   8973000   8453900   8810200
2017-03-29   3011400  18575200   76524100   8301000   5705100   5558200
2017-03-30   2991600  15912300   92566000  12838000   8754200   5399100
2017-03-31   3712700  19861200   70540000   7736100   6103500   4762300
2017-04-03   4515500  13133300   93489100  10474800  13017900  10666600
2017-04-04   3263300  12974000  105795900   9239700   7520800   5284000
2017-04-05   5004900  22733700  104651200  11422600  10477900   7268100
2017-04-06   3082000  13124700   80802100   7633700   6935100   5061000
2017-04-07   2530900  12580300   61525700   7522700   6469400   7629900
2017-04-10   3461500  10820900   60429000   6330900   4843600   5260600
2017-04-11   3915700  13891500   83801200  10172900   8457100   6325100
2017-04-12   3889800  11453600   74023000  11281500   8684200   7377400
2017-04-13   4193500  17656000  120159300  10118300   9766600   6719100
2017-04-17   3851000   8012200   86681200   8852400   7066000  10585800
2017-04-18   2536900  14750300   74890400   7502800   6243600  11085500
2017-04-19   3130200  18125400   55583800   9455300   7260500   7254600
2017-04-20   4069400  16235400   85720400   9492500   7581900   9738200
2017-04-21   3591600  14116100   94675300  10211400   7616500   8435700
2017-04-24   5566800  13350700   98770600  10498300   8105000   9831700
2017-04-25   7942300  15591000   71026100  12385000  10044800   7292900
2017-04-26   3166900  18737600   71691200  12033100   8147200   7930800
2017-04-27   4605000  20547700   68871800   8111400   8591700   5861400
2017-04-28   3878000  14190500   64091900  10296200  11418400   6988800


                 XLU       XLV       XLY
Date
2009-12-31   5506900   3511000   1620400
2010-01-04   8217600   5580900   5443900
2010-01-05  18023700   5428600   6162200
2010-01-06  12745100   4883600   4246900
2010-01-07   6563100   6114600   5736700
2010-01-08   6267600   4284800   6438000
2010-01-11   8874500   4177700   4173500
2010-01-12   8327500   5791400   5473400
2010-01-13   7859500   8056100   4615800
2010-01-14   4816600   7801400   5640300
2010-01-15  12710700   9691800   5889500
2010-01-19   5896400  17749900   4418500
2010-01-20   9519700  16706200   5028100
2010-01-21  12905300  15057200   6786600
2010-01-22  12703100  13221000  10092100
2010-01-25   7476800   7485600   5311600
2010-01-26   7540900   9292600   5506900
2010-01-27  14298100  13238800   7041800
2010-01-28  14062200  12890200   6291600
2010-01-29   9572800  11902000   7362200
2010-02-01   6682900   6463000   8877100
2010-02-02   6553600   9894100   5493700
2010-02-03   3982400   5967400   4863400
2010-02-04   7240800  10027700  10126200
2010-02-05   9988300  14325900   8303900
2010-02-08   5123500   6971500   6376900
2010-02-09   8715300   8632900   6904900
2010-02-10   6572200   7047300   5566300
2010-02-11   8110000   4335600   5827600
2010-02-12  10062300   6966800   6334400
...              ...       ...       ...
2017-03-17  15128500  10401000   4714300
2017-03-20   7148000   4728300   2639000
2017-03-21  25417100  16650400   4645700
2017-03-22  25252800   9954300   6101100
2017-03-23  22565300  13250500   3637000
2017-03-24  12407100   9229500   3311100
2017-03-27  11821400   6946300   4904100
2017-03-28   8477800   7392300   4155000
2017-03-29   6955500   4357800   4561700
2017-03-30  19711200   7137400   4682600
2017-03-31   9991000   5895400   2379300
2017-04-03  15475800  12354800   6156000
2017-04-04  10134300   5228600   4324400
2017-04-05  12649500   6470100   4350900
2017-04-06   9388800   5253300   2913900
2017-04-07  19918000   5638200   3908300
2017-04-10   8484800   4530000   2398100
2017-04-11   9844200   5472600   5469100
2017-04-12  10521000   3782200   2461600
2017-04-13  10856100   6671100   4688800
2017-04-17   7272600   6149900   3477600
2017-04-18  14707400   7519500   2554200
2017-04-19  12517000   5023100   3736500
2017-04-20  13482300   7307300   4386200
2017-04-21  13258700   6763000   3852400
2017-04-24  18106700   5450000   4243000
2017-04-25  10891600   9035700   5404600
2017-04-26   9597400   6240400   4082200
2017-04-27   9466500   6962800   3664000
2017-04-28   9405700   5775500   5021600

[1844 rows x 234 columns]

In [95]:
from yahoo_fin.stock_info import get_data

In [29]:
%%time
etfs = ['spy','acwi','mtum','qual']
start = '2017-12-31'
end = '2018-12-31'

pr = {}
for etf in etfs:
    pr[etf.upper()] = get_data(etf, start_date=start, end_date=end).adjclose
    #pr.append(get_data(etf, start_date=start, end_date=end).adjclose)

Wall time: 9.44 s

In [22]:
df = pd.concat(pr, axis=1).fillna(method='ffill');df

                 ACWI        MTUM         SPY
date
2018-01-02  71.268372  102.736465  263.759949
2018-01-03  71.630737  103.764420  265.428253
2018-01-04  72.130219  104.634232  266.546997
2018-01-05  72.600311  105.474380  268.323273
2018-01-08  72.668869  105.770912  268.813934
2018-01-09  72.757011  106.166283  269.422363
2018-01-10  72.590523  106.057556  269.010223
2018-01-11  73.089996  106.779106  270.972900
2018-01-12  73.648224  107.797173  272.739380
2018-01-16  73.520920  107.559959  271.807068
2018-01-17  74.098747  109.348999  274.397827
2018-01-18  74.000801  109.230385  273.936646
2018-01-19  74.353378  109.872864  275.182922
2018-01-22  74.892021  110.544983  277.420441
2018-01-23  75.127075  110.683365  278.009277
2018-01-24  75.195633  110.436256  277.901337
2018-01-25  75.127075  110.683365  278.019043
2018-01-26  75.939949  112.245064  281.237946
2018-01-29  75.283768  111.395027  279.373322
2018-01-30  74.549255  109.685051  276.507812
2018-01-31  74.627594  110.317642  276.645203
2018-02-01  74.578629  110.208916  276.331146
2018-02-02  72.952881  107.668678  270.315430
2018-02-05  70.053963  103.062637  259.010132
2018-02-06  71.542603  105.563347  264.113220
2018-02-07  70.710136  105.207504  262.680450
2018-02-08  68.389053  100.759621  252.827606
2018-02-09  69.182327  102.766113  256.625458
2018-02-12  70.142105  104.565033  260.393860
2018-02-13  70.269432  105.019707  261.041565
...               ...         ...         ...
2018-11-14  68.066162  106.162216  268.631317
2018-11-15  68.719696  107.706291  271.434906
2018-11-16  68.897934  107.078697  272.140808
2018-11-19  67.858223  103.572166  267.537689
2018-11-20  66.620476  101.769096  262.586578
2018-11-21  67.234406  102.187485  263.481354
2018-11-23  66.788811  101.470238  261.721649
2018-11-26  67.769112  103.731552  265.946960
2018-11-27  67.848320  104.050323  266.841736
2018-11-28  69.224701  107.626595  272.985840
2018-11-29  68.937538  107.168350  272.389343
2018-11-30  69.145493  108.373726  274.049652
2018-12-03  70.036667  109.748436  277.678436
2018-12-04  68.076065  106.471031  268.681000
2018-12-06  67.779007  106.829651  268.273376
2018-12-07  66.481857  103.721596  262.039795
2018-12-10  66.283821  104.488647  262.536896
2018-12-11  66.372932  104.667953  262.596527
2018-12-12  67.075966  105.315468  263.918793
2018-12-13  67.016556  105.494781  263.829315
2018-12-14  65.937241  103.094002  258.957794
2018-12-17  64.937149  100.500000  253.877457
2018-12-18  64.905167  100.610001  253.599075
2018-12-19  64.005791   99.330002  249.801239
2018-12-20  63.446175   97.400002  245.735001
2018-12-21  62.247002   95.370003  240.699997
2018-12-24  61.137768   92.800003  234.339996
2018-12-26  63.396206   97.980003  246.179993
2018-12-27  63.696003   98.930000  248.070007
2018-12-28  63.849998   98.900002  247.750000

[250 rows x 3 columns]

In [110]:
def etf_price(*etfs, start=None, end=None):
    
    async def get_price(etf):
        get_data_partial = partial(get_data, start_date=start, end_date=end)
        pr = await loop.run_in_executor(None, get_data_partial, etf)
        return etf, pr.adjclose
    
    async def main():
        fts = [asyncio.ensure_future(get_price(etf)) for etf in etfs]
        return await asyncio.gather(*fts)
    
    asyncio.set_event_loop(asyncio.new_event_loop())
    loop = asyncio.get_event_loop()
    
    try:
        # 다음 코드를 주피터에서 돌리려면, tornado를 downgrade 해야함
        # pip install tornado==4.5.3
        res = loop.run_until_complete(main())        
        out = pd.concat(dict(res), axis=1, sort=True).fillna(method='ffill')
    
    except Exception as ex:
        out = ex
    
    finally:
        loop.close()
        
    out = out[list(etfs)]
    out.columns = out.columns.str.upper()
    return out

In [111]:
%%time
etfs = ['spy','acwi','mtum','qual']
y_period = 3
end = pd.Timestamp.today()
start = end - pd.DateOffset(years=y_period)
prices = etf_price(*etfs, start=start, end=end)

Wall time: 2.3 s

In [112]:
prices

                   SPY       ACWI        MTUM       QUAL
date
2016-01-28  178.218582  48.566456   66.648605  57.323166
2016-01-29  182.563065  49.608170   67.920296  58.705257
2016-02-01  182.497055  49.514324   68.286415  58.752911
2016-02-02  179.208099  48.463223   67.313362  57.771152
2016-02-03  180.282440  48.838619   66.610069  58.190552
2016-02-04  180.565170  48.979385   65.935699  58.304924
2016-02-05  177.125351  48.162910   63.960701  57.246925
2016-02-08  174.741058  47.374584   62.505951  56.655952
2016-02-09  174.750473  47.111813   62.843151  56.798923
2016-02-10  174.599686  47.102425   63.527168  56.865650
2016-02-11  172.328537  46.473637   63.035824  56.169842
2016-02-12  175.881378  47.290115   63.893261  57.161129
2016-02-16  178.849960  48.237991   64.991539  58.076168
2016-02-17  181.771439  49.110783   66.032036  58.934010
2016-02-18  181.026901  48.904312   65.482880  58.810101
2016-02-19  180.942093  48.819847   65.858612  58.752911
2016-02-22  183.561981  49.504940   66.850929  59.448715
2016-02-23  181.243668  48.772926   66.523361  58.800571
2016-02-24  182.072998  48.848003   66.908730  59.115112
2016-02-25  184.278214  49.373550   67.920296  59.744202
2016-02-26  183.854111  49.251549   67.689102  59.496376
2016-02-29  182.412262  48.988773   67.053253  59.057919
2016-03-01  186.700195  50.190029   68.594696  60.392345
2016-03-02  187.538971  50.509117   68.459808  60.497204
2016-03-03  188.274017  50.884510   68.411659  60.573460
2016-03-04  188.886597  51.203590   68.315315  60.706886
2016-03-07  189.037338  51.241131   67.592758  60.745022
2016-03-08  186.973495  50.687424   67.342255  60.344700
2016-03-09  187.897064  50.959583   67.679466  60.459076
2016-03-10  188.047821  50.931435   67.756531  60.506737
...                ...        ...         ...        ...
2018-12-12  263.918793  67.075966  105.315468  81.038902
2018-12-13  263.829315  67.016556  105.494781  81.088646
2018-12-14  258.957794  65.937241  103.094002  79.287994
2018-12-17  253.877457  64.937149  100.500000  77.559998
2018-12-18  253.599075  64.905167  100.610001  77.669998
2018-12-19  249.801239  64.005791   99.330002  76.370003
2018-12-20  245.735001  63.446175   97.400002  75.239998
2018-12-21  240.699997  62.247002   95.370003  73.669998
2018-12-24  234.339996  61.137768   92.800003  71.910004
2018-12-26  246.179993  63.396206   97.980003  75.279999
2018-12-27  248.070007  63.696003   98.930000  76.160004
2018-12-28  247.750000  63.849998   98.900002  75.970001
2018-12-31  249.919998  64.160004  100.230003  76.760002
2019-01-02  250.179993  64.139999   99.559998  76.720001
2019-01-03  244.210007  63.049999   96.809998  74.790001
2019-01-04  252.389999  65.059998  100.050003  77.430000
2019-01-07  254.380005  65.459999  101.010002  77.900002
2019-01-08  256.769989  65.940002  102.260002  78.739998
2019-01-09  257.970001  66.550003  102.860001  79.180000
2019-01-10  258.880005  66.860001  103.000000  79.540001
2019-01-11  258.980011  66.620003  103.070000  79.309998
2019-01-14  257.399994  66.239998  102.169998  78.889999
2019-01-15  260.350006  66.839996  103.779999  79.610001
2019-01-16  260.980011  67.029999  103.620003  79.680000
2019-01-17  262.959991  67.519997  104.410004  80.400002
2019-01-18  266.459991  68.230003  105.510002  81.480003
2019-01-22  262.859985  67.330002  104.349998  80.320000
2019-01-23  263.410004  67.500000  104.669998  80.370003
2019-01-24  263.549988  67.620003  104.360001  80.440002
2019-01-25  265.779999  68.370003  105.040001  81.320000

[754 rows x 4 columns]

In [67]:
cov = prices.pct_change().cov(min_periods=250)*250; cov

          ACWI      MTUM      QUAL       SPY
ACWI  0.016123  0.016552  0.014718  0.015502
MTUM  0.016552  0.023064  0.017212  0.017862
QUAL  0.014718  0.017212  0.015508  0.015616
SPY   0.015502  0.017862  0.015616  0.016355

In [70]:
cov.iloc[1,1]**0.5

0.1518675643592027

In [92]:
ETFDB_BASE_URL = 'https://etfdb.com/etf/'
DIR_ETFDB = 'etfdb'

def etf_alloc(*etfs, at=None):
    cwd = os.getcwd()
    dir_target = os.path.join(cwd, DIR_ETFDB, at)

    def _name(df):
        name = df.index.name
        if name.lower() != 'region':
            return name
        elif df.index.str.contains('america|asia|europe|africa|middle', case=False).any():
            return name
        else:
            return 'Market Tier'

    def _df(df, etf):
        return pd.DataFrame({etf.upper():df.dropna().Percentage.str.rstrip('%').astype('float')})


    def _tables(etf):
        file = os.path.join(dir_target, etf + '.html')
        tables = pd.read_html(file, attrs={'class':'chart base-table'}, index_col=0)
        return {_name(df):_df(df, etf) for df in tables}


    if not os.path.exists(dir_target):
        os.makedirs(dir_target)
    
    for etf in etfs:
        file = os.path.join(dir_target, etf.upper() + '.html')
        if not os.path.exists(file):
            urlretrieve(ETFDB_BASE_URL + etf, file)

    tables = []
    for filename in os.listdir(dir_target):
        if filename.endswith('.html'):
            tables.append(_tables(filename.split('.')[-2]))

    tables_dict = {
        k:pd.concat([dic[k] for dic in tables], axis=1, sort='False').fillna(0) for k in tables[0]
    }

    return pd.concat(tables_dict, axis=0)

In [94]:
%%time
etf_alloc(*etfs, at='2019-01-30')

Wall time: 948 ms

                                        ACWI    EWC    EWG    EWI    EWP  \
Asset       Common equity              98.06  99.49  93.22  98.66  99.52
            ETF Cash Component          1.27   0.51   0.78   0.22   0.48
            Preferred stock             0.67   0.00   6.00   1.13   0.00
Country     Argentina                   0.03   0.00   0.00   0.00   0.00
            Australia                   2.13   0.00   0.00   0.00   0.00
            Austria                     0.08   0.00   0.00   0.00   0.00
            Belgium                     0.31   0.00   0.00   0.00   0.00
            Brazil                      0.81   0.00   0.00   0.00   0.00
            Canada                      3.08  96.67   0.00   0.00   0.00
            Chile                       0.11   0.00   0.00   0.00   0.00
            China                       3.39   0.00   0.00   1.16   0.00
            Colombia                    0.05   0.00   0.00   0.00   0.00
            Cyprus                      0.00   0.00   0.00   0.00   0.00
            Czech Republic              0.02   0.00   0.00   0.00   0.00
            Denmark                     0.55   0.00   0.00   0.00   0.00
            Egypt                       0.01   0.00   0.00   0.00   0.00
            Finland                     0.43   0.00   0.00   0.00   0.00
            France                      3.03   0.00   0.00   0.00   0.00
            Germany                     2.74   0.00  97.47   0.00   1.56
            Greece                      0.02   0.00   0.00   0.00   0.00
            Hong Kong                   1.05   0.00   0.00   0.00   0.00
            Hungary                     0.05   0.00   0.00   0.00   0.00
            India                       0.92   0.00   0.00   0.00   0.00
            Indonesia                   0.20   0.00   0.00   0.00   0.00
            Ireland                     0.71   0.00   0.00   0.00   0.00
            Israel                      0.16   0.00   0.00   0.00   0.00
            Italy                       0.67   0.00   0.00  85.14   2.92
            Japan                       7.12   0.00   0.00   0.00   0.00
            Liechtenstein               0.01   0.00   0.00   0.00   0.00
            Luxembourg                  0.08   0.00   0.56   0.00   0.00
...                                      ...    ...    ...    ...    ...
Market Cap  Large cap                  89.86  92.85  79.84  95.32  74.87
            Micro cap                   0.01   0.00   0.00   0.00   0.00
            Mid cap                     8.53   6.64  15.99   4.46  24.60
            Small cap                   0.34   0.00   2.93   0.00   0.00
            Unknown                     0.00   0.00   0.45   0.00   0.05
Market Tier Developed Markets (ex-US)  36.30  97.22  99.22  98.62  99.52
            Emerging Markets            9.21   0.00   0.00   1.16   0.00
            Frontier Markets            0.03   0.00   0.00   0.00   0.00
            Not-designated              0.01   0.00   0.00   0.00   0.00
            United States              54.44   2.78   0.78   0.22   0.48
Region      Africa                      0.77   0.00   0.00   0.00   0.00
            Asia                        7.90   0.00   0.00   1.16   0.00
            Asia-Pacific               10.88   0.00   0.00   0.00   0.00
            Europe                     21.26   0.55  99.22  98.62  99.52
            Latin America               1.31   0.00   0.00   0.00   0.00
            Middle East                 0.36   0.00   0.00   0.00   0.00
            North America              57.53  99.45   0.78   0.22   0.48
Sector      Basic Materials             4.32   7.89  10.04   0.00   0.00
            Communications              8.89   3.18   6.15   3.32   8.63
            Consumer, Cyclical         10.02   4.31  17.84  12.66   4.01
            Consumer, Non-Cyclical      7.98   4.37   3.32   2.20   0.00
            ETF Cash Component          1.27   0.51   0.78   0.22   0.48
            Energy                      6.22  19.72   0.00  19.58   6.74
            Financials                 17.09  39.08  15.52  30.46  38.23
            Healthcare                 11.62   0.62  11.40   1.66   2.80
            Industrials                 9.93   8.56  13.54  11.44  14.51
            Other                       1.92   4.37   0.97   0.00   0.05
            Real Estate                 3.03   0.56   4.09   0.00   0.00
            Technology                 14.50   4.50  12.78   0.00   4.58
            Utilities                   3.19   2.33   3.58  18.48  19.98

                                         EWU    EWZ    IEV    ILF     IYR  \
Asset       Common equity              99.31  63.36  97.99  67.36   99.80
            ETF Cash Component          0.69   1.70   1.20   0.51    0.20
            Preferred stock             0.00  34.94   0.81  32.13    0.00
Country     Argentina                   0.00   0.00   0.00   0.00    0.00
            Australia                   0.00   0.00   0.00   0.00    0.00
            Austria                     0.00   0.00   0.27   0.00    0.00
            Belgium                     0.00   4.22   1.72   4.37    0.00
            Brazil                      0.00  89.88   0.00  58.72    0.00
            Canada                      0.00   0.00   0.00   0.00    0.00
            Chile                       0.00   0.00   0.00   6.25    0.00
            China                       0.00   0.00   0.00   0.00    0.00
            Colombia                    0.00   0.00   0.00   2.05    0.00
            Cyprus                      0.00   0.00   0.00   0.00    0.00
            Czech Republic              0.00   0.00   0.00   0.00    0.00
            Denmark                     0.00   0.00   2.56   0.00    0.00
            Egypt                       0.00   0.00   0.00   0.00    0.00
            Finland                     0.00   0.00   2.18   0.00    0.00
            France                      0.00   1.86  15.21   0.00    0.00
            Germany                     0.31   0.00  13.84   0.00    0.00
            Greece                      0.00   0.00   0.00   0.00    0.00
            Hong Kong                   0.00   0.00   0.00   0.00    0.00
            Hungary                     0.00   0.00   0.00   0.00    0.00
            India                       0.00   0.00   0.00   0.00    0.00
            Indonesia                   0.00   0.00   0.00   0.00    0.00
            Ireland                     0.00   0.00   0.81   0.00    0.00
            Israel                      0.00   0.00   0.00   0.00    0.00
            Italy                       0.00   0.84   3.23   1.85    0.00
            Japan                       0.00   0.00   0.00   0.00    0.00
            Liechtenstein               0.19   0.00   0.05   0.00    0.00
            Luxembourg                  0.00   0.00   0.28   0.00    0.00
...                                      ...    ...    ...    ...     ...
Market Cap  Large cap                  83.06  78.16  85.42  83.47   49.93
            Micro cap                   0.00   0.00   0.00   0.00    0.00
            Mid cap                    15.90  19.51  12.63  14.40   36.11
            Small cap                   0.36   0.63   0.75   1.61   13.76
            Unknown                     0.00   0.00   0.00   0.00    0.00
Market Tier Developed Markets (ex-US)  97.11   8.42  98.27  10.79    0.00
            Emerging Markets            0.29  89.88   0.00  85.54    0.00
            Frontier Markets            0.00   0.00   0.00   0.00    0.00
            Not-designated              0.19   0.00   0.05   0.00    0.00
            United States               2.42   1.70   1.69   3.67  100.00
Region      Africa                      0.00   0.00   0.00   0.00    0.00
            Asia                        0.00   0.00   0.00   0.00    0.00
            Asia-Pacific                0.00   0.00   0.00   0.00    0.00
            Europe                     97.30   8.42  98.31  10.79    0.00
            Latin America               0.12  89.88   0.00  85.54    0.00
            Middle East                 0.16   0.00   0.00   0.00    0.00
            North America               2.42   1.70   1.69   3.67  100.00
Sector      Basic Materials             7.29  15.90   6.64  16.30    0.00
            Communications              5.45   2.34   4.61   5.24    0.00
            Consumer, Cyclical          5.85   6.20   8.60   2.11    0.55
            Consumer, Non-Cyclical     16.19  10.37  13.55  12.48    0.00
            ETF Cash Component          0.69   1.70   1.20   0.51    0.20
            Energy                     17.35  12.05   8.12  15.30    0.00
            Financials                 20.66  30.61  18.55  36.28    0.00
            Healthcare                  9.26   0.87  13.14   0.00    0.00
            Industrials                 9.10   6.21  12.60   3.29    1.33
            Other                       2.80   5.59   2.30   3.79    1.48
            Real Estate                 1.24   1.54   1.14   0.87   96.44
            Technology                  0.79   1.02   5.49   0.69    0.00
            Utilities                   3.32   5.59   4.06   3.13    0.00

                                       ...      SPY     XLB    XLE    XLF  \
Asset       Common equity              ...    99.92  100.00  99.99  99.87
            ETF Cash Component         ...     0.08    0.00   0.01   0.13
            Preferred stock            ...     0.00    0.00   0.00   0.00
Country     Argentina                  ...     0.00    0.00   0.00   0.00
            Australia                  ...     0.00    0.00   0.00   0.00
            Austria                    ...     0.00    0.00   0.00   0.00
            Belgium                    ...     0.00    0.00   0.00   0.00
            Brazil                     ...     0.00    0.00   0.00   0.00
            Canada                     ...     0.00    0.00   0.00   0.00
            Chile                      ...     0.00    0.00   0.00   0.00
            China                      ...     0.00    0.00   0.00   0.00
            Colombia                   ...     0.00    0.00   0.00   0.00
            Cyprus                     ...     0.00    0.00   0.00   0.00
            Czech Republic             ...     0.00    0.00   0.00   0.00
            Denmark                    ...     0.00    0.00   0.00   0.00
            Egypt                      ...     0.00    0.00   0.00   0.00
            Finland                    ...     0.00    0.00   0.00   0.00
            France                     ...     0.00    0.00   0.00   0.00
            Germany                    ...     0.00    0.00   0.00   0.00
            Greece                     ...     0.00    0.00   0.00   0.00
            Hong Kong                  ...     0.00    0.00   0.00   0.00
            Hungary                    ...     0.00    0.00   0.00   0.00
            India                      ...     0.00    0.00   0.00   0.00
            Indonesia                  ...     0.00    0.00   0.00   0.00
            Ireland                    ...     0.93    0.00   0.00   0.00
            Israel                     ...     0.00    0.00   0.00   0.00
            Italy                      ...     0.00    0.00   0.00   0.00
            Japan                      ...     0.00    0.00   0.00   0.00
            Liechtenstein              ...     0.00    0.00   0.00   0.00
            Luxembourg                 ...     0.00    0.00   0.00   0.00
...                                    ...      ...     ...    ...    ...
Market Cap  Large cap                  ...    91.90   76.82  89.31  92.74
            Micro cap                  ...     0.00    0.00   0.00   0.00
            Mid cap                    ...     7.92   23.18  10.36   6.98
            Small cap                  ...     0.10    0.00   0.32   0.14
            Unknown                    ...     0.00    0.00   0.00   0.00
Market Tier Developed Markets (ex-US)  ...     1.89   14.49   0.86   2.16
            Emerging Markets           ...     0.00    0.00   0.00   0.00
            Frontier Markets           ...     0.00    0.00   0.00   0.00
            Not-designated             ...     0.00    0.00   0.00   0.00
            United States              ...    98.11   85.51  99.14  97.84
Region      Africa                     ...     0.00    0.00   0.00   0.00
            Asia                       ...     0.00    0.00   0.00   0.00
            Asia-Pacific               ...     0.00    0.00   0.00   0.00
            Europe                     ...     1.89   14.49   0.86   2.16
            Latin America              ...     0.00    0.00   0.00   0.00
            Middle East                ...     0.00    0.00   0.00   0.00
            North America              ...    98.11   85.51  99.14  97.84
Sector      Basic Materials            ...     2.30   85.51   0.00   0.00
            Communications             ...    10.19    0.00   0.00   0.00
            Consumer, Cyclical         ...     9.72    0.00   0.00   0.00
            Consumer, Non-Cyclical     ...     7.08    0.00   0.00   0.00
            ETF Cash Component         ...     0.08    0.00   0.01   0.13
            Energy                     ...     5.47    0.00  99.99   0.00
            Financials                 ...    13.67    0.00   0.00  99.68
            Healthcare                 ...    14.72    0.00   0.00   0.00
            Industrials                ...     9.40    0.00   0.00   0.00
            Other                      ...     1.72   14.49   0.00   0.19
            Real Estate                ...     2.97    0.00   0.00   0.00
            Technology                 ...    19.61    0.00   0.00   0.00
            Utilities                  ...     3.08    0.00   0.00   0.00

                                         XLI    XLK     XLP     XLU    XLV  \
Asset       Common equity              99.98  99.95   99.80  100.00  99.90
            ETF Cash Component          0.02   0.05    0.20    0.00   0.10
            Preferred stock             0.00   0.00    0.00    0.00   0.00
Country     Argentina                   0.00   0.00    0.00    0.00   0.00
            Australia                   0.00   0.00    0.00    0.00   0.00
            Austria                     0.00   0.00    0.00    0.00   0.00
            Belgium                     0.00   0.00    0.00    0.00   0.00
            Brazil                      0.00   0.00    0.00    0.00   0.00
            Canada                      0.00   0.00    0.00    0.00   0.00
            Chile                       0.00   0.00    0.00    0.00   0.00
            China                       0.00   0.00    0.00    0.00   0.00
            Colombia                    0.00   0.00    0.00    0.00   0.00
            Cyprus                      0.00   0.00    0.00    0.00   0.00
            Czech Republic              0.00   0.00    0.00    0.00   0.00
            Denmark                     0.00   0.00    0.00    0.00   0.00
            Egypt                       0.00   0.00    0.00    0.00   0.00
            Finland                     0.00   0.00    0.00    0.00   0.00
            France                      0.00   0.00    0.00    0.00   0.00
            Germany                     0.00   0.00    0.00    0.00   0.00
            Greece                      0.00   0.00    0.00    0.00   0.00
            Hong Kong                   0.00   0.00    0.00    0.00   0.00
            Hungary                     0.00   0.00    0.00    0.00   0.00
            India                       0.00   0.00    0.00    0.00   0.00
            Indonesia                   0.00   0.00    0.00    0.00   0.00
            Ireland                     1.44   2.40    0.00    0.00   1.51
            Israel                      0.00   0.00    0.00    0.00   0.00
            Italy                       0.00   0.00    0.00    0.00   0.00
            Japan                       0.00   0.00    0.00    0.00   0.00
            Liechtenstein               0.00   0.00    0.00    0.00   0.00
            Luxembourg                  0.00   0.00    0.00    0.00   0.00
...                                      ...    ...     ...     ...    ...
Market Cap  Large cap                  88.33  94.79   94.28   90.59  94.57
            Micro cap                   0.00   0.00    0.00    0.00   0.00
            Mid cap                    11.65   5.16    5.53    9.41   5.33
            Small cap                   0.00   0.00    0.00    0.00   0.00
            Unknown                     0.00   0.00    0.00    0.00   0.00
Market Tier Developed Markets (ex-US)   1.44   3.01    0.00    0.00   1.95
            Emerging Markets            0.00   0.00    0.00    0.00   0.00
            Frontier Markets            0.00   0.00    0.00    0.00   0.00
            Not-designated              0.00   0.00    0.00    0.00   0.00
            United States              98.56  96.99  100.00  100.00  98.05
Region      Africa                      0.00   0.00    0.00    0.00   0.00
            Asia                        0.00   0.00    0.00    0.00   0.00
            Asia-Pacific                0.00   0.00    0.00    0.00   0.00
            Europe                      1.44   3.01    0.00    0.00   1.95
            Latin America               0.00   0.00    0.00    0.00   0.00
            Middle East                 0.00   0.00    0.00    0.00   0.00
            North America              98.56  96.99  100.00  100.00  98.05
Sector      Basic Materials             0.00   0.00    0.00    0.00   0.00
            Communications              0.00   0.00    0.00    0.00   0.00
            Consumer, Cyclical          0.00   0.00    0.00    0.00   0.00
            Consumer, Non-Cyclical      0.00   0.00   99.80    0.00   0.00
            ETF Cash Component          0.02   0.05    0.20    0.00   0.10
            Energy                      0.00   0.00    0.00    0.00   0.00
            Financials                  0.00   0.00    0.00    0.00   0.00
            Healthcare                  0.00   0.00    0.00    0.00  97.68
            Industrials                99.98   0.00    0.00    0.00   0.00
            Other                       0.00   2.46    0.00    2.12   2.22
            Real Estate                 0.00   0.00    0.00    0.00   0.00
            Technology                  0.00  97.49    0.00    0.00   0.00
            Utilities                   0.00   0.00    0.00   97.88   0.00

                                         XLY
Asset       Common equity              99.98
            ETF Cash Component          0.02
            Preferred stock             0.00
Country     Argentina                   0.00
            Australia                   0.00
            Austria                     0.00
            Belgium                     0.00
            Brazil                      0.00
            Canada                      0.00
            Chile                       0.00
            China                       0.00
            Colombia                    0.00
            Cyprus                      0.00
            Czech Republic              0.00
            Denmark                     0.00
            Egypt                       0.00
            Finland                     0.00
            France                      0.00
            Germany                     0.00
            Greece                      0.00
            Hong Kong                   0.00
            Hungary                     0.00
            India                       0.00
            Indonesia                   0.00
            Ireland                     0.94
            Israel                      0.00
            Italy                       0.00
            Japan                       0.00
            Liechtenstein               0.00
            Luxembourg                  0.00
...                                      ...
Market Cap  Large cap                  85.41
            Micro cap                   0.00
            Mid cap                    14.18
            Small cap                   0.39

In [73]:
etfs = [
    'ACWI', 
    'SPY',
    'QQQ',
    'XLB',
    'XLY',
    'XLP',
    'XLE',
    'XLF',
    'XLV',
#     'XLI',
#     'IYR',
#     'XLK',
#     'IYZ', 
#     'XLU',
#     'EWC',
#     'ILF',
#     'EWZ',
#     'IEV',
#     'EWU',
#     'EWP',
#     'EWG',
#     'EWI',
#     'RSX',
#     'EWQ',
#     'EWY', 
#     'EWJ',
#     'MCHI',
#     'EWS',
#     'EWA',
#     'EWH',
#     'EWM',
#     'EWT',
#     'VNM',
#     'EIDO',
#     'INDA',
#     'EPHE',
#     'EFA',
#     'EEM',
#     'BKF'
]